rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} { allow read, write: if false; }
    match /signs/{signId} {
      allow read, write: if true;
    }
    match /settings/{settingId} {
      allow read, write: if true;
    }
    match /locations_origin/{id} {
      allow read, write: if true;
    }
    match /locations_target/{id} {
      allow read, write: if true;
    }
    match /map_hotspots/{id} {
      allow read, write: if true;
    }
    match /route_matrix/{id} {
      allow read, write: if true;
    }
    match /satisfaction_surveys/{id} {
      allow read, write: if true;
    }
    match /nomor_bangunan/{id} {
      allow read, write: if true;
    }
    match /keterangan_risiko/{id} {
      allow read, write: if true;
    }
  }
}
